html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-size:100%;margin:0px;padding:0px;outline:0;vertical-align:baseline;}body{line-height:1}q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
html { min-height:100%;}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;}
button, input { line-height: normal; *overflow: visible;}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: none;}
input[type="text"], input[type="password"], textarea, select { border:1px solid #ccc;} 
img { vertical-align:middle; border:none;}
.center { text-align:center;}
td { vertical-align:top;}
sub { font-weight:normal!important; font-size:80%;}
body {
	margin: 0px;
	padding: 0px;
	background:white;
	width:100%;
	height:100%; background:url(images/tmpl32/bg.gif) 0 0 repeat; background-attachment:fixed;
}
p, body, font, div, td, input, select, textarea, a { font: 13px/18px normal Verdana, Geneva, sans-serif;}
h1 { font-size:18px; font-weight:normal; line-height:20px; margin-bottom:10px;}
div.Detailed { border-bottom:1px solid #ddd; padding:10px 0 5px 0; margin-bottom:5px;}
h1 span { font-size:15px; font-style:italic; color:#777;}
h2 { font-size: 14px; margin:15px 0 5px;}
h2.under { display:block; border-bottom:1px dashed #333; padding-bottom:5px; margin-bottom:0;}
h3 { font-size: 12px; margin:1em 0 0.5em 0;}
form {
	padding:0px;
	margin: 0px;
}
.hidden { display:none;}
.m_error, .m_success, .m_notice { padding:10px 20px 10px 10px; text-align:left; margin-bottom:10px; border-radius:3px; position:relative;}
.m_error { background: #f8d7da; border:1px solid #f5c6cb; color:#721c24;}
.m_success { background:#d4edda; border:1px solid #c3e6cb; color:#155724;}
.m_notice { background:#d1ecf1; border:1px solid #bee5eb; color:#0c5460;}
.error { display:block;padding:10px; background:#FFDFFF; color:brown; margin-bottom:10px;}
.confirm  {display:block; background: #d9edf7; padding:10px; margin-bottom:10px; color:#31708f;}
.m_error i, .m_success i, .m_notice i { position:absolute; top:5px; right:5px; cursor:pointer; font-size:20px;}
.i-free i { position:inherit; font-size:inherit; cursor:auto;}
.m_error_det { margin-bottom:5px; padding:5px 10px;}

a { color:#06C; text-decoration:underline; transition:0.5s;}
.center { text-align:center!important;}
.text { margin-bottom:5px;}
a:hover { color:#000; text-decoration:none;}
p { margin-bottom:10px;}
td { text-align:left;}
input, select { vertical-align:middle; margin:2px;}
.nowrap { white-space:nowrap!important;}
div.NotFoud {text-align:center; font-size:25px; padding:50px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;}
.Order { border:none; width:198px; height:39px; background:url(images/order.png) 0 0 no-repeat; cursor:pointer;}
.Order:hover { width:198px; height:39px; background:url(images/order.png) 0 100% no-repeat;}
.Noomgoods { border:none; width:35px; text-align:center; border:1px solid #ddd!important; padding:5px 0;}

div.Wrap { width:1050px; margin:0px auto; background:white; padding:5px; box-shadow: 0 0 5px #bbb;}

div#cur-search { background: #e5e5e5; min-height: 39px; margin-bottom:5px;}
div#search { float:left; height:25px; padding:7px;}
#cart_informer { height:25px; line-height:25px;}
.ajaxSearch { position:relative;}
#ajaxSearch { border:none; background:#fff; height:25px!important; width:250px; padding:0 7px; margin:0;}
#resSearch { display:none; background:#fff; transition:0.5s;}
#resSearch img { width:30px; height:30px; float:left; margin: 0 5px 0 0; border:1px solid #ddd;}
.ajaxSide { float:left; width:50%;}
#resSearch table { width:100%; margin: 5px 0;}
#resSearch th { width:1%; vertical-align:middle; padding:5px;}
#resSearch td { width:49%; vertical-align:middle; padding:5px;}
#resSearch b { color:brown;}
#resSearch a { text-decoration:underline;}
#resSearch a:hover { text-decoration:none;}
.result { text-align:center; padding:15px 0 10px;}
.ajaxButton { border:none; background:#2c6a98; color: #fff; height:25px; padding:0 10px; margin:0;}

.cat_arduino { display:block; margin-bottom:5px; text-align:center; transition:0.5s; float:left; width:570px; height:135px;}
.cat_arduino img { width:570px; height:135px;}
.cat_arduino:hover img { opacity:0.5;} 

.cat_sert { display:block; margin-bottom:5px; text-align:center; transition:0.5s; width:207px; height:123px; float:left; border:1px solid #ddd; padding:5px; color:red;}
.cat_sert img { max-width:70px; margin-bottom:5px;}
.cat_sert:hover img { opacity:0.5;}

.subcats-wrap { margin:-6px -6px 0 -6px;}
.subcats { width:100%;}
.subcats td { width:20%; border:1px solid #ddd;}
.subcats a { display:block; padding:5px; text-align:center; text-decoration:none; font-weight:bold; color: #0085B0;}
.subcats img { width:100%;margin-bottom:5px; transition:0.5s;}
.subcats a:hover img { opacity:0.5;}
.subcats a:hover { color:#000;}

div#content { position:relative;}
.clear { height:5px; clear:both;}

.Resycler { float:right; height:39px; color:#000; padding-left:4px;}
.Resycler i.fa-shopping-cart { font-size:20px; margin: 5px 5px 0;}
.Resycler a { display: inline-block; height:39px; line-height:39px; color:#000;  text-decoration:none;}
.Resycler a:hover { text-decoration:underline;}
.Resycler div, .Resycler span {display:inline-block; vertical-align:top;}
.Resycler span { padding: 0 2px;}
#shpcrtcd a { background:#f39c12; padding:0 10px; height:36px; line-height:38px; border-bottom:3px solid #d35400; color:#fff;}
#shpcrtcd a:hover { text-decoration:underline!important;}
.fb-like { margin-top:10px; padding-top:10px; border-top:1px solid #ddd; width:100%;}
.cart_emrty { background:#C4C4C4; padding:0 10px!important; height:36px; line-height:38px; border-bottom:3px solid #A4A4A4; color:#fff; margin-right:-10px!important;}

.top-menu { height:40px; background:#2c6a98; margin-bottom:5px;}
.top-menu li { float:left; list-style:none;}
.top-menu li a { display:block; height:40px; line-height:40px; padding: 0 14px; border-left:1px solid #fff;}
.top-menu li.first a { background:#89b7d9; border-left:none; font-size:25px;}
.top-menu li.sale a { background:#bcac99; font-size:20px;}
.top-menu li.forum i { font-size:26px; margin-right:5px; vertical-align:middle;}
.top-menu a { font-size:13px; color:white; font-weight:bold; text-decoration:none; text-shadow:1px 1px #000;}
.top-menu a:hover { text-decoration:underline;}

.logon-table {}
.logon-table td { padding:2px;}
.logon-table input { padding:5px 10px;}
.menu-level-3 { display:inline-block; vertical-align:top; height:40px; line-height:40px; text-shadow:1px 1px #000; background:#6e99aa; font-weight:bold; color:#fff; text-decoration:none; padding: 0 15px; font-size:110%;}
.menu-level-3:hover { color:#fff; text-decoration:underline;}
/* ============ СЕРВИСНОЕ МЕНЮ ============ */
div.wrapper { width:1050px; margin:0 auto; position:relative; z-index:10;}
div.service-menu { height:25px; background:#7398af;}
.language { float:left; margin:0 20px 0 60px;}
.language a, .language span { display:block; float:left; height:25px; line-height:23px; text-decoration:none; padding: 0 7px; color:#fff; font-size:90%; font-weight:bold;}
.language span { background:#2c6a98;}
.language a { background:#5C8C9E;}

div.office { height:25px; line-height:25px; float:right; position:relative; z-index:1; color:#fff; border-left:2px solid #7398af; border-right:2px solid #7398af; padding: 0 10px;}
div.office .enter { color:#fff;}
div.office_block { background:#fff; border:2px solid #b8d7e5; color:#000;}
div.office_popup { display:none; position:absolute; top:23px; right:-2px; z-index:5; border:2px solid #b8d7e5; border-top:none; background:#fff;}
div.office_popup_block { display:block;}
div.office_popup li { list-style:none;}
div.office_popup li a { display:block; text-decoration:none; padding:5px 10px; white-space: nowrap;}
div.office_popup li a:hover { background:#d4edf2;}
div.office_popup input[type="password"], div.office_popup input[type="text"] { height:23px; border:1px solid #ccc; padding: 0 5px;}
div.office_popup input[type="submit"] { border:none; background:#2c6a98; color: #fff; height:25px; padding:0 10px; margin:0;}
div.office_popup td { vertical-align:middle;}
div.office_popup table { margin:10px;}
div.icons { float:right; height:25px; line-height:25px; }
div.icons a { margin-left:10px;}
a.mobile { float:left; display:block; height:25px; line-height:23px; color:#fff; margin-right:40px;}
.favorits { float:right; display:block; height:25px; line-height:25px; color:#fff; margin-right:15px;}
.favorits:hover { color:#ddd;}
.favorits i { display:inline-block; background:#2c6a98; border-radius:20px; color:#fff; width:19px; height:19px; line-height:19px; text-align:center; font-weight:bold; font-size:90%; font-style:normal; margin:4px 0 0 0;}
#favorite { white-space:normal;}
.del-from-favorite { display:inline-block; margin-bottom:10px; background:#EAFBFF; border-radius:20px; padding: 2px 10px;}
.go-to-favorite { display:inline-block; background:#FFC; border:1px solid #FF9; border-radius:20px; padding: 0 10px; color:brown; font-size:90%;}
/* ============ .СЕРВИСНОЕ МЕНЮ ============ */

div.Name { margin-bottom:5px;}
div.Name a { font-weight:bold; font-size:110%; /*color:#069;*/ color:#000; text-decoration:none;}
div.blockHead { font-size:13px; color:white; font-weight:bold; text-shadow:1px 1px black; height:30px; line-height:30px; padding:0 15px;
background:#2c6a98;}
div.blockHead a, div.blockHead h1 {line-height:30px; font-size:13px; color:white; font-weight:bold; text-shadow:1px 1px black;}
div.block { border:1px solid #ddd; padding:5px; border-top:none; width:230px;}
div.blockHead2 {  border:1px solid #ddd; padding:6px 10px;}

ul.bottom-menu { list-style:none;}
ul.bottom-menu li { display:inline-block; margin: 15px;}
ul.bottom-menu li a { font-weight:normal;}
div.shp_copyright { font-size:10px; text-align:center; margin-top:10px; color:#666;}
div.shp_copyright a { font-size:10px; color:#666;}


div.Price { font-size:15px; margin:0 0 5px 0; font-weight:bold;}
.personal-price { margin-bottom:5px; background:#EAFBFF; border-radius:5px; color:#069; font-size:12px; padding:5px 0; line-height:20px;}
div.personal-price b { font-size:20px;}
div.Price i, div.personal-price i, .Price span { font-size:12px; font-style:normal;} 
.Price span { font-weight:normal;} 

.bundle-foto { display:block; width:250px; position:relative;}
.bundle-foto img { position:absolute; width:250px; top:0; left:0;}

table {	border-collapse:collapse;}
.table_pad_td td { padding:3px;}
.table_pad_td2 td { padding:2px;}
.table_pad_td35 td { padding:2px 5px;}
.table_pad_td310 td { padding:2px 10px;}
.table_pad_td410 td { padding:3px 10px;}

.brands_list { text-align:center;}
.brands_list a { display:inline-block; vertical-align:middle; box-shadow: 0 0 2px 2px #ccc; margin:5px; padding:5px;}

.red_star {	color:#D00;}
/* brief */


.buy_new, .but_predzakaz { border:none; background:#009FA4; border-bottom:3px solid #008184; color:#fff; text-align:center; display:inline-block; vertical-align:top; width:100px; height:30px; line-height:28px; box-sizing:border-box; margin: 0 0 5px 0;}
.in_cart { border-bottom:3px solid #d35400; background:#f39c12;}
.but_predzakaz { background:#B4B4B4; border-bottom:3px solid #8F8F8F;}
.olive { background:#bcac99; border-bottom-color:#9e846d;}

.add_to_cart { text-align:center; height:30px; margin-bottom:10px;}
.add_to_cart i { cursor:pointer; height:30px; line-height:30px; display:inline-block; margin:0; -webkit-user-select: none;
-moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
.noomgoods-det { height:30px; box-sizing:border-box; border:1px solid #ddd; width:40px; text-align:center; margin:0; vertical-align:top;}

.noomgood { margin-bottom:5px; height:17px;}
.noomgood span { border:1px solid #ccc; vertical-align:top; background:linear-gradient(to bottom,#ddd,#fff); border-radius:2px 0 0 2px; height:15px; line-height:15px; width:15px; text-align:center; display:inline-block; cursor:pointer; -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;}
.noomgood span:hover { background:linear-gradient(to bottom,#fff,#ddd);}
.noomgood span.pl { border-radius: 0 2px 2px 0;}
.noomgood input { width:30px; height:15px; text-align:center; padding:0; margin:0; vertical-align:top; border:1px solid #ccc; border-left:none; border-right:none; font-size:90%;}

.customer_votes { margin:10px auto;}
.customer_votes i { display:inline-block; vertical-align:top; margin: 0 1px; font-size:18px;}
.customer_votes th { padding-left:10px; text-align:left; font-weight:normal; vertical-align:middle;}
.rating-det-done { color:#ccc;}
.rating-det {unicode-bidi: bidi-override; direction: rtl; display:inline-block;}
.rating-det i, .rating-det-done i { display:inline-block; color:#ccc; transition:0.5s; cursor:pointer;}
.rating-det > i:hover:before, .rating-det > i:hover ~ i:before { color:#f1c40f;}
.yellow { color:#f1c40f!important;}

.product-det-service { margin-bottom:5px; border-bottom:1px solid #ddd; border-top:1px solid #ddd; padding: 5px 0;} 
.product-det-service span { font-style:italic; font-size:90%; color:#999;}
.product-det-service b { font-size:90%;}
.product-det-service em { display:inline-block; color:#ccc; font-size:90%; margin:0 10px;}
.product-det-service img { height:20px!important; width:auto!important;}


.comed {background:#eee; padding:10px 0 10px 10px;}
.comed a, .comed span { font-size:11px; display:inline-block; vertical-align:top; margin-right:10px; text-decoration:underline;}


.product_detailed_description { text-align:justify;}
.product_detailed_description p { margin-bottom:10px;}
.product_detailed_description a { text-decoration:underline;}
.product_detailed_description a:hover { text-decoration:none;}
.product_detailed_description ul, .product_detailed_description ol { margin: 0 0 10px 20px;}
.product_detailed_description ul ul, .product_detailed_description ol ol, .product_detailed_description ul ol, .product_detailed_description ol ul  { margin: 5px 0 10px 20px;} 
.product_detailed_description ul li { list-style:url(images/list.png)!important;}
.product_detailed_description ul li li { list-style:url(images/list-g.png)!important;}
.product_detailed_description table { margin-bottom:10px;}
.product_detailed_description td, .product_detailed_description th { padding:5px 10px; border:1px solid #ccc;}
.product_detailed_description th { background:#f5f5f5; text-align:center;}
.product_detailed_description img { max-width:750px!important; height:auto!important;}
.brief_descr, .brief_descr * { font-size:12px;}

.brief-img-border { display:block; width:150px; height:150px; margin:0 10px 10px 0; text-align:center;line-height:150px;}
.brief-img-border img { max-width:150px; max-height:150px;}
.BuytBrief, div.BuytDetails { text-align:center; margin-left:5px; white-space:nowrap; position:relative;}
.BuytBrief { width:100px; margin-left:20px;}
div.BuytDetails {}
div.BuytDetails .Price { font-size:20px; line-height:20px; margin: 10px 0 5px;}
div.BuytDetails .Price i, div.BuytDetails .Price span { font-size:15px; font-style:normal;}
div.BuytDetails .Price span { font-weight:normal;} 
div.BuytDetails p { margin-bottom:5px;}

.Categories > li { list-style:none; transition:0.5s; border-bottom:1px solid #ddd; padding:10px 5px 0 5px ;}
.Categories > li:last-child { border-bottom:none;}
.Plitka {display:flex; flex-wrap: wrap; justify-content: flex-start; margin:0 -6px; border-top:1px solid #dddddd;}
.Plitka li { width:25%; padding:10px; box-sizing:border-box; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd;}
.Plitka div.Name a { font-size:inherit;}

.cats-wo-photo a { display:inline-block; white-space:nowrap; margin: 0 5px 5px 0; background:#E6F9FF; padding: 5px 10px; border:1px solid #D7F5FF; color:#0089B7;}
.cats-wo-photo a:hover { background:#D7F5FF;}
/* .brief */

.aux a {}
.aux a:hover { color:#c31c00;}


.catalog_head {
	color:#222;
	font-size:110%;
	font-weight:bold;
}
.catalog_includ {
}
.aux_head { font-size:100%; font-weight:bold;}


.authorization_includ a { font-size:90%}

.news_head {
	color:#222;
	font-size:110%;
	font-weight:bold;
}
.news_includ {
	padding-left:10px;
	font-weight:bold;
	vertical-align:top;
	font-size:90%;
	color:#c31c00;
}
.news_includ a {
	font-weight:normal; font-size:90%;
}
.news_includ a:hover {
	text-decoration:underline;
}
.news_includ_subs_news {
	font-size:12px;
	font-weight:bold;
}
.voting_includ_head {
	font-weight:bold;
	padding:5px 0;
}
.forms_head {
	color:#09C;
	font-size:18px;
	margin-bottom:10px;
}
.forms_sub_head {
	font-size:12px;
	font-weight:bold;
	margin-bottom:10px;
}
.forms_name {
	color:black;
	padding-left:20px;
	background-color:#DBDBDB;
}
.footer_menu { text-align:center; padding-left:3px;	padding-right:3px;}
.footer_menu a { }
.footer_menu a:hover { text-decoration:underline;}

.footer_contact { font-size:80%;}
.footer_contact a { font-size:90%; color:#c31c00;	text-decoration:none; font-weight:bold;}

.res_tabl_name { padding:3px; text-align:center; background-color:#f5f5f5; font-weight:bold; white-space:nowrap;}
.res_table td { border:1px solid #ccc; padding:3px;}
.res_table2 td { padding:3px;}
.border_none td { border: none;}
.order_a { font-size:90%; font-weight:bold; text-decoration:underline;}
.order_a:hover { text-decoration:none;}

.user { position:absolute; top:5px; left:455px; background:#E8F8FF; padding:20px; border-bottom:1px solid #D2F0FF;  border-right:1px solid #D2F0FF;}

/* user account */
.userDefault { border-collapse:separate; border-spacing:10px;}
.userDefault td { padding:20px; border:1px dashed #ccc; width:50%;}
table.style001 th { background:#f5f5f5; white-space:nowrap;}
table.style001 p { margin-bottom:5px;}
table.style001 td, table.style001 th { text-align:center; padding:3px 5px; border:1px solid #ccc; vertical-align:middle; font-weight:normal;}
table.style001 table td { border:none; padding:2px;}
table.adress-editor td { vertical-align:middle; padding:2px 10px;}
ul.account li { list-style:none; padding:5px 10px; margin-bottom:3px; white-space:nowrap; border:1px solid #ddd; border-radius:3px; background:linear-gradient(to bottom,#fff,#ddd)}
ul.account li a { display:block}
ul.account li a { text-decoration:none;}
ul.account li.active a, ul.account li a:hover { color:#000;}
.user-acc p { color:#888; margin-bottom:5px;}
.user-acc span { color:black;}
div.OrderStep { background:#f5f5f5; border-top:1px dashed #ccc; border-bottom:1px dashed #ccc; margin:20px 0; padding:20px 20px 10px 20px;}
table.register_authorization { width:100%;}
td.register_authorization, th.register_authorization { border:1px solid #ccc; width:49%; vertical-align:middle;}
th.register_authorization { background:#f5f5f5; text-align:center; line-height:20px; font-weight:normal;}
td.register_authorization div { padding:10px;}
td.register_authorization td { padding:2px; vertical-align:middle;}
/* #user account */

div.tags {font-size:10px; padding:10px; background:#f5f5f5; text-align:center;}
div.tags * { line-height:30px!important;}
div.aux-pages { padding:10px;}
div.aux-pages p { margin-bottom:10px;}
div.aux-pages ul, div.aux-pages ol { margin:0 0 10px 15px;}
div.aux-pages img { max-width:750px;}
div.aux-pages table { border-collapse:collapse; margin-bottom:10px;}
div.aux-pages td, div.aux-pages th { border:1px solid #ccc; padding:3px 5px;}
div.aux-pages th { background:#f5f5f5; text-align:center;}

div.header { position:relative; height:100px;} 
.Logo { display:block; position:absolute; top:1px; left:10px;}
.new-year { position:absolute; top:0; right:180px; z-index:5;}
.shapka { position:absolute; top:-15px; left:-45px; z-index:2;}

.work-hours { position:absolute; top:1px; right:15px; line-height:15px;}
.work-hours a { margin-bottom:0px; font-size:12px!important; text-decoration:none; line-height:15px;}
.work-hours a:hover { color:#000;}

div.Tel { position:absolute; top:12px; left:450px; line-height:22px; color:#076dad; font-size:18px; margin-bottom:20px;}
div.Tel span { font-size:15px;}
div.Tel img.email { margin:0 0 0 27px; height:12px}
div.hollidays { position:absolute; bottom:10px; left:220px; color:red; text-shadow: 0 0 10px #FC0;}
.servise { margin:10px 0 5px 0; text-align:center; font-size:12px;}
.servise a, .servise b { display:inline-block; font-size:12px; vertical-align:top; margin: 0 2px; height:20px; line-height:20px; padding: 0 5px; min-width:10px; border:1px solid #ddd; border-radius:3px; background:linear-gradient(to bottom,#fff,#eee);}
.servise a:hover { background:linear-gradient(to bottom,#eee,#fff);}
.servise b { border:1px solid #DDD5CA; background:#E6E0D9;}

/*
ul.CatTree > li { list-style:none; position:relative;}
ul.CatTree > li > a { display:block; border-bottom:1px solid #ddd; padding:5px; transition:0.3s;}
ul.CatTree > li:last-child > a { border-bottom:none;}
ul.CatTree > li > a {text-decoration:none; font-size:14px;}
ul.CatTree > li > a:hover { background:#eee;}
ul.CatTree > li.active > a { color:#fff!important; background:#7398af;}
ul.CatTree > li.newsact { background:red;} 
ul.CatTree > li.newsact > a { color:#fff!important;}
ul.CatTree > li.level2 { background:#eee;}
ul.CatTree > li.level2 > a { color:#333;}
ul.CatTree > li.active2 , ul.CatTree > li.level2 > a:hover { background:#ddd; border-bottom:1px solid #ccc;}
ul.CatTree > li.active2 > a { color:#000;}
div.sub-popup { position:absolute; top:0; left:230px; background:#FFC; padding:10px; border-radius:10px;}
div.sub-popup a { display:block; font-size:11px; border-bottom:none; padding:0; white-space:nowrap;}
a.katalog_menu_level1 { font-size:12px; text-decoration:none;}
a.katalog_menu_level1:hover { text-decoration:none; color:#086aa9;}
a.katalog_menu_level2 { font-size:11px; font-weight:normal; text-decoration:none;}
a.katalog_menu_level2:hover { text-decoration:none; color:#086aa9;}
.katalog_menu_selected { font-size:12px; font-weight: bold; color:#086aa9; text-decoration:none;}
*/

.category-tree-full { width:242px; position:relative; z-index:1;}
.category-tree-full ul { border:1px solid #ddd; border-bottom:none; position:relative; z-index:5;}
.category-tree-full li { list-style:none; position:relative; border-bottom:1px solid #ddd;}
.category-tree-full a { text-decoration:none; display:block; padding: 5px 10px; font-size:14px;}
.category-tree-full ul ul { display:none; border:1px solid #ddd; border-bottom:none; position:absolute; top:-1px; right:-232px; width:230px; background:#eee;}
.category-tree-full ul ul li { border-bottom:1px solid #ccc;}
.category-tree-full > ul > li:hover, .category-tree-full > ul > li:hover > ul, .category-tree-full > ul > li > ul > li:hover > ul { display:block; background:#e5e5e5;}
.category-tree-full > ul > li.active_category ul { position: relative; top:auto; right:auto; display:block; z-index:1; border:none; width:220px;}
.category-tree-full > ul > li.active_category { background:#eee;}
.category-tree-full > ul > li.active_category ul { width:auto!important}
li.active_category > a { color:#000;}
.category-tree-full > ul > li.active_category > a { font-weight:bold; font-size:14px;}
.category-tree-full > ul > li.active_category ul li { list-style:disc; border-bottom:none; margin: 0 0 0 25px;}
.category-tree-full > ul > li.active_category ul li a { padding:0 10px 0 0; margin-bottom:5px;}

.articleS { font-size:11px; line-height:14px; color:#555; border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:10px;}
.artlast { border-bottom:none; margin:0; padding:0;}
.articleS h3 { font-weight:normal; margin-bottom:5px;}
.article img { max-width:600px!important; height:auto!important; margin: 0 10px 10px 0!important;}

ul.HomeCat li { float:left; list-style:none; padding:5px; width:182px; height:220px; margin:0 5px 5px 0; border:1px solid #eee;}
ul.HomeCat li a.img { display:table-cell; width:180px; height:180px; text-align:center; vertical-align:middle;}
ul.HomeCat li a.img img { max-height:180px; max-width:182px;}
ul.HomeCat li:hover { border:1px solid #ccc;}
ul.HomeCat div { margin-top:10px; text-align:center;}
ul.HomeCat div a { text-decoration:none; color:black; font-weight:bold;}
ul.HomeCat li:hover div a { color:#069;}

div.action { position:absolute; width:50px; height:48px; background:url(images/actsiya-big.png); top:-5px; right:-5px;}

div.ImageDet { border:1px solid #ddd; padding:5px; width:244px; height:244px; overflow:hidden; margin-bottom:5px;}
div.ImageDet a { display:table-cell; width:244px; height:244px; text-align:center; vertical-align: middle;}
div.ImageDet img { max-height:244px!important; max-width:244px!important;}
ul.AllFoto li { list-style:none; float:left; width:70px; height:70px; border:1px solid #ddd; overflow:hidden; padding:5px; margin:0 5px 5px 0;}
ul.AllFoto li a {width:70px; height:70px; display: table-cell; text-align:center; vertical-align:middle;}
ul.AllFoto li a img { max-height:70px; max-width:70px;}

ul.Preimuschestva { border-bottom:1px solid #e5e5e5; display:inline-block; margin: 0 5px 15px 0;}
ul.Preimuschestva li { width:180px;padding: 18px 18px 18px 58px; border: 1px solid #e5e5e5; position: relative; list-style:none; border-bottom:none; cursor: pointer; line-height:20px; color: #989898; text-transform:uppercase; font-size:12px!important;}
ul.Preimuschestva li:hover {color: #6a82a9;}
ul.Preimuschestva li div { display:none; position:absolute; text-transform:none; width:250px; padding:18px;border: 1px solid #dadada; background:#fff; z-index:999; -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.1); box-shadow: 0 0 2px 1px rgba(0,0,0,0.1); left:-295px;}
ul.Preimuschestva li:hover div { display:block;}
ul.Preimuschestva li.preim01 { background:url(images/sprite_a.png) 15px -293px no-repeat;}
ul.Preimuschestva li.preim01:hover { background:url(images/sprite_a.png) 15px -370px no-repeat;}
ul.Preimuschestva li.preim04 { background:url(images/sprite_a.png) 15px -602px no-repeat;}
ul.Preimuschestva li.preim04:hover { background:url(images/sprite_a.png) 15px -680px no-repeat;}
ul.Preimuschestva li.preim05 { background:url(images/sprite_a.png) 15px -905px no-repeat;}
ul.Preimuschestva li.preim05:hover { background:url(images/sprite_a.png) 15px -982px no-repeat;}
ul.Preimuschestva li.preim01 div { top:-15px;}
ul.Preimuschestva li.preim04 div { top:-120px;}
ul.Preimuschestva li.preim042 div { top:-100px;}
ul.Preimuschestva li.preim05 div { top:-10px;}
ul.Preimuschestva li div span { position:absolute; z-index:9999; background:url(images/old_usp0.png) -1px -154px; width: 13px; height: 24px; right:-13px; top:50%; margin:-12px 0 0 0;}
.preim04 a { text-decoration:underline;}
.preim04 a:hover { text-decoration:none;}
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000;
z-index:9;
}
#popupBasket{
display:none;
position:fixed;
height:auto;
width:350px;
background:none;
border:none;
z-index:10;
padding:0px;
 background:#fff; border:1px solid #fff; border-radius:3px;
}
#popupBasket > div { padding: 20px 50px 20px 20px; position:relative;}
#popupBasket i { position:absolute; top:10px; right:10px; font-size:200%; cursor:pointer;}
#popupBasket iframe { border:1px solid #fff; background:#fff;}
ul.quick-search { padding:0 10px 10px 10px; border:1px solid #f3f3f3; border-top:none; margin-top:25px; position:relative; z-index:999; background:#f9f9f9;}
ul.quick-search li { list-style:none; margin:5px;}
ul.quick-search a { font-size:80%; color:#555;}
ul.quick-search li.selected-item {background-color: #D6EBD2;font-weight:bold;color: #FFFFFF;}

.CartRes { width:100%;}
.CartRes th, .CartRes td { vertical-align:middle; padding:5px;}
.CartRes th { background:#eee; border-bottom:1px solid #ccc; text-align:center; padding:10px;} 
.res-img { display:block; background:#fff; width:60px; height:60px; text-align:center; line-height:60px;}
.res-img img { max-height:60px; max-width:60px;}
.cart-numgood { white-space: nowrap;}
.cart-numgood div { width:84px; height:22px;}
.cart-numgood input { width:40px; height:20px; margin:0; text-align:center; border:1px solid #ccc; padding:0; float:left;}
.cart-numgood span { width:20px; height:20px; text-align:center; border:1px solid #ccc; display:block; float:left; -webkit-user-select: none; cursor:pointer; font-size:120%; font-weight:bold; background:linear-gradient(to bottom,#fff,#ddd);
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;}
.cart-numgood span:hover { background:linear-gradient(to bottom,#ddd,#fff);}
span.cnl { border-right:none; border-radius: 3px 0 0 3px;}
span.cnr { border-left:none; border-radius: 0 3px 3px 0;}
.res-total {text-align:right; padding:20px 0; font-size:16px;}
.res-total span { font-size:25px;}
.res-total span i { font-size:18px;}
.cart-item-price { font-weight:bold;}
.cart-item-price i { font-weight:normal;}

/* ============ КАРТА САЙТА ============ */
ul.site-map { list-style:none; margin:10px 20px;}
ul.site-map li { margin:5px 0;}
ul.site-map li.level1 { font-weight:bold; margin:10px 0;}
ul.site-map li.level2 { margin-left:15px;}
ul.site-map li.level3 { margin-left:30px;}
ul.site-map li.level4 { margin-left:45px;}
/* ============ .КАРТА САЙТА ============ */

/* ============ ДОПОЛНИТЕЛЬНЫЕ СТРАНИЦЫ ============ */
.pages p { margin-bottom:5px;}
.pages ul, .pages ol { margin:0 0 10px 15px;}
.pages li { margin-bottom:2px; list-style:url(images/list.png)!important;}
.pages td, .pages th { border:1px solid #ccc; padding:10px;}
.pages th { background:#eee; text-align:center;}
.pages img { max-width:100%!important; height:auto!important;}
.pages td h2 { margin: 0 0 10px 0;}
/* ============ .ДОПОЛНИТЕЛЬНЫЕ СТРАНИЦЫ ============ */

/* ============ PRICE LIST ============ */
table.pricelist td { padding:4px 5px; border:1px solid #CCC; vertical-align:middle;}
table.pricelist td a { text-decoration:none;}
table.pricelist td a:hover { text-decoration:underline;}
/* ============ .PRICE LIST ============ */

div.Left-baner { margin:10px 0 15px 0; border:1px solid #ddd; text-align:center; padding:10px 5px;}
div.Left-baner h2 { color:red;}
div.Left-baner a { text-decoration:none;}
div.Left-baner p { color:#555;}

table.register_authorization { width:100%;}
td.register_authorization, th.register_authorization { border:1px solid #ccc; width:49%; vertical-align:middle;}
th.register_authorization { background:#f5f5f5; text-align:center;font-weight:normal;}
td.register_authorization div { padding:10px;}
td.register_authorization td { padding:2px; vertical-align:middle;}
div.register_authorization { background:#ffffee; border:1px solid #ccc; padding:10px 10px 0 10px; text-align:center; margin-bottom:10px;}
div.register_authorization  p { font-size:90%;}



div.atincion { background:#FFC; border:1px solid #FC0; padding:10px; font-size:90%; margin:10px 0;}
.extra { margin-bottom:10px;}
.extra_dfet { margin-top:-10px;}
.extra td, .extra th { padding:0 10px 0 0; vertical-align:middle; font-size:12px; text-align:left;}
.extra td { color:#555;}
.extra select { width:150px; background:#f5f5f5;}

div.compareBr { margin-bottom:10px;}
div.compareBr i { display:inline-block; color:#ccc; font-size:90%; margin:0 10px;}
div.compareBr span { color:#999;}
.compare-descr img, .compare-descr iframe { max-width:200px!important; height:auto!important;}
.button  { margin-bottom:10px!important;}

table.related-products td { padding:10px; vertical-align:middle;}
div.pictureRel { border:1px solid#ddd; width:130px; height:130px; background:#fff;} 
div.pictureRel a { display:table-cell; text-align:center; vertical-align:middle; width:130px; height:130px;}
div.pictureRel img { max-width:130px; max-height:130px;}

ul.SideBar li { list-style:none; margin-bottom:10px; border-bottom:1px solid #ddd;}
ul.SideBar li:last-child { margin-bottom:0px; border-bottom:none;}
ul.SideBar li .Name { text-align:center; margin-bottom:5px;}
ul.SideBar li .Name a { font-size:13px; font-weight:bold; line-height:16px;}
.Pic { display:inline-block; margin:0 auto 10px; border:1px solid #ddd; width:168px; height:168px; text-align:center; line-height:168px; padding:5px;}
.Pic img { max-width:168px; max-height:168px; transition:0.5s;}
.Pic:hover img {opacity:0.5;}
ul.SideBar .Price { text-align:center;}
div.waranty {  position:relative;}
div.waranty div { position:absolute; top:-40px; right:-10px;}

div.Picture { margin:0 auto 10px; overflow:hidden; border:1px solid #ddd; width:130px; height:130px; padding:5px;}
div.Picture a { display:table-cell; width:130px; height:130px; text-align:center; vertical-align:middle;}
div.Picture a img { max-width:130px!important; max-height:130px!important;}

/* Сравнение продуктов */
.Compare { width:100%;}
.Compare td, .Compare th { vertical-align:middle; text-align:center; padding:5px; border:1px solid #ccc;}
.Compare th { background:#f5f5f5; text-align:left; font-weight:normal; width:250px;}
.Compare div { margin:0;}
#compPrdsBlock p a { color:red; font-weight:bold;}
/* .Сравнение продуктов */

div.timer div { display:inline-block; border:1px solid #aaa; border-radius:5px; width:36px; height:60px; margin:0 5px 0 0; text-align:center; box-shadow: 5px 5px 10px #bbb;
background:-webkit-linear-gradient(top,#cccccc,#eeeeee);
background:-o-linear-gradient(top,#cccccc,#eeeeee);
background:-ms-linear-gradient(top,#cccccc,#eeeeee);
background:-moz-linear-gradient(top,#cccccc,#eeeeee);
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0);}
div.timer div span { display:table-cell; width:36px; height:40px; text-align:center; vertical-align:middle; font-size:26px; font-family:Arial, Helvetica, sans-serif;}
div.timer div p { display:block; height:30px; line-height:20px; font-size:90%;}

/*
table.customer_votes { }
table.customer_votes td { vertical-align:middle; text-align:left}
table.customer_votes td.pad { padding-left:80px;}
.unit-rating { list-style:none; margin: 0px; padding:0px;height: 16px; position: relative;background: url(images/tmpl32/star-big.png) top left repeat-x;}
.unit-rating li{ text-indent: -90000px; padding:0px; margin:0px;float: left;}
.unit-rating li a {	outline: none;display:block;width:16px;height: 16px;text-decoration: none;text-indent: -9000px;z-index: 20;position: absolute;padding: 0px;}
.unit-rating li a:hover{background: url(images/tmpl32/star-big-on.png) left center;	z-index: 2;	left: 0px;}
.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:16px;}
.unit-rating a.r2-unit{left:16px;}
.unit-rating a.r2-unit:hover{width: 32px;}
.unit-rating a.r3-unit{left: 32px;}
.unit-rating a.r3-unit:hover{width: 48px;}
.unit-rating a.r4-unit{left: 48px;}	
.unit-rating a.r4-unit:hover{width: 64px;}
.unit-rating a.r5-unit{left: 64px;}
.unit-rating a.r5-unit:hover{width: 80px;}
*/


#directory_0{list-style:none;}
#directory_0 ul{margin:0;padding:0;}
#directory_0 li{list-style:none; margin:7px 0; padding-bottom:7px; border-bottom:1px dotted #999;}
#directory_0 li ul{display:none;}
#directory_0 li ul li { border-bottom:none; margin-left:20px;}
#directory_0 li.active ul{display:block;}
#directory_0 li a{display:block; font-weight:normal;}
#directory_0 li ul li a, #directory_0 li.active ul li a{display:block;}
#directory_0 li.active,#directory_0 li.active a,#directory_0 li.active li.active li.active li.active a{color:#CD1F25;}

div.welcome img { max-width:594px!important; height:auto!important;}

#back-top {position: fixed;bottom: 30px;z-index:9999;left:50%;margin-left:600px;}
#back-top a {width:35px;height:20px;display: block;margin-bottom: 7px;background:url(/images/up-arrow.png) no-repeat left 0px;}
#back-top a:hover { background-position:left -34px;}

.art-list { margin-bottom:10px; border-bottom:1px dashed #ccc; padding-bottom:10px;}
.art-list table { width:100%;}
.art-list th { width:1%;}
.art-list td { width:99%;}
.art-list img { max-width:200px; margin: 0 20px 10px 0;}
a.art-title { display:block; margin-bottom:5px; font-size:15px; font-weight:bold;}
a.more { font-style:italic; font-size:12px; display:block; text-align:right;}
.art-list-rating { margin: 10px 0 0 0;}
.art-list-rating img { margin:0 1px 0 0;}
.art-list-rating span { display:block; color:#aaa; font-size:12px; font-style:italic;}
.art-list-rating b { color:#000; font-style:normal;}

.txt { text-align:justify; font-size:12px; line-height:16px; padding:5px 5px 0 5px;}

.opt { width:100%; background:#f5f5f5; border: 1px solid #ccc; margin: 10px 0;}
.opt td, .opt th { padding:2px; text-align:center; border:1px solid #ccc; font-size:90%;}
.opt th { background:#ddd;}
div.note {  background:#FFC; border: 1px solid #FC0; padding:10px; margin-bottom:10px; font-size:11px; line-height:14px; padding:5px;}
/*
*	Buttons
*/
.button-orange,.button-blue {
	display: inline-block;
	-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3); -webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3); box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
	font-size: 15px;
	border-radius:3px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	outline: none !important;
	overflow: visible;
	margin: 0 0 5px 0;
}
input.button-orange { border:none; margin:0;}
.button:hover, .button:focus {
	text-decoration:none;
}

.button-orange:hover,.button-green:focus {
	color: #fff;
	background: #5c8825; /* Old browsers */
	background: -moz-linear-gradient(top, #8fbb44 0%, #5c8825 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fbb44), color-stop(100%,#5c8825)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8fbb44 0%,#5c8825 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8fbb44 0%,#5c8825 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #8fbb44 0%,#5c8825 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fbb44', endColorstr='#5c8825',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #8fbb44 0%,#5c8825 100%); /* W3C */
	border: none;
}

.button-blue {
	padding:5px 20px;
	color: #fff;
	background: #39aad4; /* Old browsers */
	background: -moz-linear-gradient(top, #41c4f4 0%, #39aad4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41c4f4), color-stop(100%,#39aad4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #41c4f4 0%,#39aad4 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41c4f4', endColorstr='#39aad4',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #41c4f4 0%,#3a8fb6 100%); /* W3C */
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border: 1px solid #0370A2;
}
.butbrief {padding:5px 12px; background: linear-gradient(to bottom, #aaa,#777); font-size:14px; border:1px solid #444}
.button-blue:hover,.button-blue:focus {
	color: #fff;
	background: #0189bc; /* Old browsers */
	background: -moz-linear-gradient(top, #14bcfb 0%, #0189bc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14bcfb), color-stop(100%,#0189bc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14bcfb', endColorstr='#0189bc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #14bcfb 0%,#0189bc 100%); /* W3C */
	border: 1px solid #0370A2;
}
.butbrief:hover,.butbrief:focus { background: linear-gradient(to bottom, #aaa,#444); border:1px solid #444;}
.button-orange {
	display: inline-block;
	padding: 6px 0;
	width:90px;
	-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3); -webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3); box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	outline: none !important;
	overflow: visible;
}

.button-orange:hover, .button-orange:focus {
	text-decoration:none;
}

.button-orange {
	color: #fff;
	background: #FF6600; /* Old browsers */
	background: -moz-linear-gradient(top, #FF6600 0%, #FF9900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6600), color-stop(100%,#7dac38)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FF6600 0%,#FF9900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FF6600 0%,#FF9900 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #FF6600 0%,#FF9900 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF6600', endColorstr='#FF9900',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #FF6600 0%,#FF9900 100%); /* W3C */
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border: none;
}

.button-orange:hover,.button-orange:focus {
	color: #fff;
	background: #FF7A22; /* Old browsers */
	background: -moz-linear-gradient(top, #FF7A22 0%, #FF6600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF7A22), color-stop(100%,#FF6600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FF7A22 0%,#FF6600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FF7A22 0%,#FF6600 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #FF7A22 0%,#FF6600 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7A22', endColorstr='#FF6600',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #FF7A22 0%,#FF6600 100%); /* W3C */
	border: none;
}

.old-item img, .old-item iframe { opacity:0.5!important;}
.old-item, .old-item * { color:#888!important;}
.old-item li { list-style: circle!important;}
.arhivbrief, .arhiv { text-align:center; background:#eee; font-weight:bold; padding:50px 20px;}
.arhivbrief { font-size:10px; color:#777; padding:10px; width:70px; margin-left:20px;}
div.arhiv-tabs { border-top:2px solid #ccc!important;} 
ul.arhiv-tabs li { background:#eee!important; border:1px solid #eee!important;}
ul.arhiv-tabs li.current { background:#ddd!important; border:1px solid #ddd!important;}

.sklad { text-align:center; margin-bottom:10px; font-size:11px; line-height:14px;}
.sklad span { display:block; color:#888;}

.only_real { background:#f5f5f5; padding:5px; margin-bottom:5px;}
.only_real_active { background:#FFC;}
.only_real .servise { float:right; margin:0; height:20px; line-height:20px;}
.fll { float:left; height:20px; line-height:20px;}
.only_real select, .only_real form { margin:0;}

.novis { display:none;}
.search-background {
	display: none;
	font-size: 13px;
	font-weight: bold;
	height:160px;
	position: absolute;
	padding-top:140px;
	text-align: center;
	opacity:0.5;filter: alpha(opacity=50) ;
	text-decoration: none;
	width: 520px;
	color:#FFFFFF;
	text-shadow: #fff 0px 0px 20px;
	}
search-background label{border:solid #66FF00 1px;}
.date { font-style:italic; font-size:80%; margin-bottom:0!important; color:#888; float:left;}
.allart { float:right;}
#notifydiv { padding:5px;}
#notifydiv input[type="text"] { padding:5px; width:210px;}
#notifydiv input[type="button"] { background:#2c6a98; margin-top:5px; padding:7px; width:222px; border:1px solid #2c6a98; color:#fff; font-weight:bold;} 

.sale_item {background:#FFC; color:brown; padding:5px; margin-bottom:5px; display:inline-block;}
.sale_item a { text-decoration:underline;}
.sale_item a:hover { text-decoration:none;}

.s-tabs { display:block; height:40px; border-bottom:2px solid #2f3174;}
.s-tabs li { float:left; height:40px; line-height:40px; padding:0 30px; font-size:16px; color:#fff; cursor:pointer; list-style:none;}
.s-descr { float:left; background:linear-gradient(to bottom,#009de0,#2f3174);}
.s-discuss { color:#333!important; background:#e4f5d1;}
.total_rating { float:left; margin-left:60px; width:380px;}
.rating { display:inline-block; font-size:14px; font-weight:bold; background:#FFC; border-radius:100px; padding: 5px 10px;}
.addReview table { margin-bottom:10px; float:left;}
.addReview td, .addReview th { padding: 0 5px 0 0; vertical-align:middle;}
.addReview td.b-bot { border-bottom:1px solid #ccc;}
.addReview input[type="text"], .addReview textarea { padding:10px; width:90%;}
.addReview textarea { height:100px; margin:0 0 -2px 2px;}
.addReview input[name="captcha"] { width:200px;}
.count_reviews { margin-top:20px; color:#999; font-style:italic;}
.count_reviews b { color:#000; font-size:120%;}
.d-name { margin-bottom:10px; font-weight:bold; margin-top:10px; padding-top:10px; border-top:1px dotted #aaa;}
.d-date { font-style:italic; color:#888; font-size:80%;}
.d-rating { margin-bottom:5px;}
.addReviewSented { padding:20px; display:none; background: #d9edf7; border:1px solid #bce8f1; color:#31708f;}
.rozcut { display:inline; }
.mrgn0 {margin: -2px;}
.discuss_pic {margin: 10px;}

blockquote { background: #2d2d2d;    margin: .5em 0; overflow: auto; padding: 1em;color: #ccc;}
.corrected { width:100%;}
.corrected .flex { display:flex; flex-wrap: wrap; justify-content:space-between;}
.corrected .flex div { width:50%; box-sizing:border-box;}
.corrected .flex .flex-1 { padding-right:5px;}
.corrected .flex .flex-2 { padding-left:5px;}
sup {vertical-align: super;font-size: smaller;}